/* Modal Background */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  font-size: 16px;
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 60px;
  width: 80%;
  height: 300px;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  background-image: url('../assets/film_clip.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  transform: scale(1.5);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: .1em .8em;
  border-radius: .25em .25em 0 0;
  text-align: left;
}

.modal-header h3 {
  margin: .5em 0;
}

.modal-body {
  padding: 0 1em;
  color: #001900;
  font-weight: bold;
  text-align: justify;
}

.modal-footer {
  padding: 0 .8em;
  border-radius: 0 0 .25em .25em;
  text-align: right;
}

.modal-button {
  width: 5em;
  height: 2em;
  margin: .5em;
  border: none;
  border-radius: .25em;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  font-family: inherit;
}

.modal-button:hover {
  background-color: #ddd;
}

.modal-button:focus {
  outline: none;
}

@media screen and (max-width: 640px) {
  .modal-content {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .modal-content {
    font-size: 16px;
  }
}

@media screen and (max-width: 420px) {
  .modal-content {
    font-size: 14px;
  }
}
