/* Default Layout Starts */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: #3e3b49;
  overflow: hidden;
}

.footer {
  background-color: #3e3b49;
  overflow: hidden;
  text-align: center;
  color: white;
}

.nav-item {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding: 14px 26px;
  display: inline-block;
}

.nav-item img {
  width: 40px;
  display: inline-block;
}

.nav-item span {
  font-family: 'Courier New', Courier, monospace;
}

.nav-user {
  float: right;
}
/* Default Layout Ends */

/* Home Page Starts */
.container {
  margin: 0px auto;
  padding: 50px;
  background-image: url('./assets/curtain.jpg');
  background-size: 100vw 100%;
}

.container h1 {
  color: white;
  text-align: center;
}
/* Home Page Ends */

/* Movies Page Starts */
.movies {
  margin: 0 auto;
  width: 1024px;
  overflow: auto;
}
/* Movies Page Ends */

/* Movie Page Starts */
.detail {
  width: 1100px;
  height: 610px;
  padding-top: 60px;
  padding-left: 150px;
  background-image: url('./assets/film_strip.png');
  background-size: 100%;
  margin: 50px auto;
  overflow: hidden;
}

.panel {
  width: 300px;
  height: 444px;
  margin: 10px 20px;
  left: 100px;
  top: 100px;
  float: left;
}

.metadata {
  width: 400px;
  margin: 10px 0px;
  font: 25px Courier New;
  float: left;
}

.metadata span {
  font-size: 15px;
  color: #333333;
}

.ticket-link {
  color: black;
  float: right;
  text-decoration: none;
}
/* Movie Page Ends */

/* Booking Page Starts */
.box-office {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/cinema.jpg');
  background-size: 100vw 100vh;
  border: 1px solid black;
}

.room {
  position: relative;
  top: 8.5%;
  margin: auto;
  background-color: white;
  opacity: 0.90;
  text-align: center;
}

.seat {
  position: absolute;
  text-align: center;
}

.seat:hover {
  background-color: #ccc;
}

.seat img {
  width: 100%;
}

.seat span {
  position: absolute;
  font-size: 50%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Prevent seat IDs from being seleted */
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.order-panel {
  padding: 20px;
  margin: 100px;
  background-color: #dacb9d;
  opacity: 0.9;
  border-radius: 5px;
  font-size: 15px;
  position: absolute;
  top: 10%;
  left: -50px;
}

.order-panel span {
  font-size: 10px;
  color: #333333;
}

.order-panel button {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
}

.order-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.order-table td, .order-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.order-table tr:last-child {background-color: #ddd;}

.order-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

.session-panel {
  position: absolute;
  top: 10%;
  right: -50px;
  padding: 20px;
  margin: 100px;
  background-color: #dacb9d;
  opacity: 0.9;
  border-radius: 5px;
  font-size: 15px;
}

.session-panel input {
  float: left;
}

.session-panel select {
  float: right;
}
/* Booking Page Ends */

/* About Page Starts */
.about {
  height: 100%;
  padding: 100px 200px 200px;
  background-image: url('./assets/curtained_screen.jpg');
  background-size: 100vw 100%;
}

.about div {
  width: 80%;
  margin: 0px auto;
  text-align: justify;
}

.about h1 {
  text-align: center;
}

.about p, img {
  width: 100%;
}
/* About Page Ends */

/* User Pages Start */
.user {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  text-align: center;
  background-image: url('./assets/camera.jpg');
  background-size: 100vw;
}

.user-panel {
  position: relative;
  top: 23vh;
  /* left: 36vw; */
  margin: auto;
  width: 50%;
  /* height: 50%; */
  padding: 20px;
  background-color: #eee;
}

.user-panel p {
  font-size: 30px;
  text-align: center;
}

.user-panel input, button {
  display: block;
  width: 60%;
  height: 40px;
  margin: 20px auto;
  border-radius: 5px;
  font-size: 20px;
}

.user-panel img {
  width: 40px;
  display: inline-block;
}

.user-panel span {
  font-family: 'Courier New', Courier, monospace;
}
/* User Pages Start */

/* Comment Module Starts */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fbfbfb;
}

.wrapper {
  width: 800px;
  margin: 10px auto;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 20px;
}

/* 评论框样式 */
.comment-input {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 20px;
  margin-bottom: 10px;
}

.comment-field {
  margin-bottom: 15px;
  display: flex;
}

.comment-field .comment-field-name {
  display: flex;
  flex-basis: 100px;
  font-size: 14px;
}

.comment-field .comment-field-input {
  display: flex;
  flex: 1;
}

.comment-field-input input,
.comment-field-input textarea {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  font-size: 14px;
  resize: none;
  flex: 1;
}

.comment-field-input textarea {
  height: 100px;
}

.comment-field-button {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start; */
  /* border: 1px solid red; */
  text-align: right;
}

.comment-field-button button {
  padding: 5px 10px;
  width: 80px;
  border: none;
  border-radius: 3px;
  background-color: #00a3cf;
  color: #fff;
  outline: none;
  cursor: pointer;
  display: inline-block;
}

.comment-field-button button:active {
  background: #13c1f1;
}

/* 评论列表样式 */
.comment-list {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 20px;
}

/* 评论组件样式 */
.comment {
  position: relative;
  display: flex;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 10px;
  padding-bottom: 10px;
  min-height: 50px;
}

.comment .comment-user {
  flex-shrink: 0;
}

.comment-username {
  color: #00a3cf;
  font-style: italic;
}

.comment-postTime {
  padding-right: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-size: 12px;
}

.comment:hover .comment-delete {
  color: #00a3cf;
}

.comment-delete {
  position: absolute;
  right: 0;
  top: 0;
  color: transparent;
  font-size: 12px;
  cursor: pointer;
}

.comment p {
  margin: 0;
  /*text-indent: 2em;*/
}

code {
  border: 1px solid #ccc;
  background: #f9f9f9;
  padding: 0px 2px;
}
/* Comment Module Ends */