/* Default Layout Starts */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background {
  background-image: url('./assets/curtain.jpg');
  background-size: 100vw 100%;
}

.header {
  background-color: #3e3b49;
  overflow: hidden;
}

.footer {
  background-color: #3e3b49;
  overflow: hidden;
  text-align: center;
  color: white;
}

.nav-item {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding: 14px 26px;
  display: inline-block;
}
/* Default Layout Ends */

/* Home Page Starts */
.home {
  margin: 50px auto;
}

.home h1 {
  color: white;
  text-align: center;
}
/* Home Page Ends */

/* Movies Page Starts */
.movies {
  margin: 0px auto;
  width: 1024px;
  overflow: auto;
}
/* Movies Page Ends */

/* Movie Page Starts */
.detail {
  width: 1100px;
  height: 610px;
  padding-top: 60px;
  padding-left: 150px;
  background-image: url('./assets/film_strip.png');
  background-size: 100%;
  margin: 50px auto;
  overflow: hidden;
}

.panel {
  width: 300px;
  height: 444px;
  margin: 10px 20px;
  left: 100px;
  top: 100px;
  float: left;
}

.metadata {
  width: 400px;
  margin: 10px 0px;
  font: 25px Courier New;
  float: left;
}

.metadata span {
  font-size: 15px;
  color: #333333;
}

.ticket-link {
  color: black;
  float: right;
  text-decoration: none;
}
/* Movie Page Ends */

/* Booking Page Starts */
.box-office {
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/cinema.jpg');
  background-size: 100% 100%;
}

.room {
  position: relative;
  top: 10.8%;
  margin: auto;
  background-color: white;
  opacity: 0.90;
  text-align: center;
}

.seat {
  position: absolute;
  text-align: center;
}

.seat:hover {
  background-color: #ccc;
}

.seat img {
  width: 100%;
}

.seat span {
  position: absolute;
  font-size: 50%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Prevent seat IDs from being seleted */
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.order-panel {
  float: left;
  padding: 20px;
  margin: 100px;
  background-color: #dacb9d;
  opacity: 0.9;
  border-radius: 5px;
  font-size: 15px;
}

.order-panel span {
  font-size: 10px;
  color: #333333;
}

.order-panel button {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
}

.order-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.order-table td, .order-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.order-table tr:last-child {background-color: #ddd;}

.order-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.session-panel {
  position: absolute;
  top: 10%;
  right: -50px;
  padding: 20px;
  margin: 100px;
  background-color: #dacb9d;
  opacity: 0.9;
  border-radius: 5px;
  font-size: 15px;
}

.session-panel input {
  float: left;
}

.session-panel select {
  float: right;
}
/* Booking Page Ends */

/* About Page Starts */
.about {
  height: 100%;
  padding: 100px 200px 200px;
  background-image: url('./assets/curtained_screen.jpg');
  background-size: 100vw 100%;
}

.about div {
  width: 80%;
  margin: 0px auto;
  text-align: justify;
}

.about h1 {
  text-align: center;
}

.about p, img {
  width: 100%;
}
/* About Page Ends */