/* Default Layout Starts */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
  height: 51px;
  background-color: #3e3b49;
  overflow: hidden;
  /* display: flex; */
}

.footer {
  background-color: #3e3b49;
  overflow: hidden;
  text-align: center;
  color: white;
}

.navbar-wrapper {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

.navbar-collapsed {
  display: flex;
  justify-content: space-between;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.nav-item {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding: 14px 26px;
  display: inline-block;
}

.nav-item:hover {
  color: #3e3b49;
  background-color: #e3e3e3;
}

.nav-button {
  position: relative;
  margin-right: 26px;
  display: none;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 2;
}

.nav-button:focus {
  outline: 0;
}

.bar-one, .bar-two, .bar-three {
  width: 30px;
  height: 3px;
  margin: 8px 0;
  border-radius: 1px;
  background-color: #f2f2f2;
  transition: .4s;
}

.cross.bar-one {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-8px, 7px);
}

.cross.bar-two {
  opacity: 0;
}

.cross.bar-three {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.nav-logo {
  color: #f2f2f2;
  text-decoration: none;
  padding: 14px 26px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo img {
  width: 30px;
  display: inline-block;
  vertical-align: sub;
}

.nav-hr {
  display: none;
  color: #f2f2f2;
  width: 90%;
}

@media screen and (max-width: 1040px) {
  .navbar-collapsed {
    flex: 1;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu.responsive {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    padding: 50px 0 25px;
    background-color: #3e3b49;
  }

  .nav-button {
    display: inline-block;
  }

  .nav-item {
    display: block;
  }

  .nav-hr {
    display: block;
  }
}
/* Default Layout Ends */

/* Home Page Starts */
.container {
  max-width: 1440px;
  margin: 0px auto;
  padding: 50px 0;
  min-height: 100vh;
  background-image: url('./assets/curtain.jpg');
  background-size: 100vw 100%;
}

.container h1 {
  color: white;
  text-align: center;
}
/* Home Page Ends */

/* Movies Page Starts */
.movies {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

hr {
  max-width: 1024px;
}
/* Movies Page Ends */

/* Movie Page Starts */
.metadata-comment {
  max-width: 1100px;
  margin: 0px auto;
  padding: 0 140px;
  background-image: url('./assets/film_strip.jpg');
  background-size: 100%;
  font: 25px Courier New;
}

.metadata {
  position: relative;
  height: 596px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.metadata-image {
  width: 300px;
  margin: 10px 20px;
}

.metadata-image img {
  width: 100%;
}

.metadata-text {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.metadata-text p {
  margin: .5em 0;
}

.metadata-text span {
  font-size: .6em;
  color: #333333;
}

.ticket-link {
  width: 10em;
  color: black;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
  padding: .2em .6em;
  align-self: flex-end;
  border: 1px solid transparent;
}

.ticket-link:hover {
  border-color: black;
  border-radius: 5px;
}

@media screen and (max-width: 1100px) {
  .metadata-comment {
    padding: 0 12vw;
    font-size: 2.27vw;
  }

  .metadata {
    height: 54.2vw;
  }
}

@media screen and (max-width: 550px) {
  .metadata {
    height: 108.4vw;
    display: block;
  }

  .metadata-image {
    position: absolute;
    top: 1%;
    left: 45%;
    transform: translateX(-50%);
    width: 32vw;
  }

  .metadata-text {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    width: 90%;
    height: auto;
  }
}
/* Movie Page Ends */

/* Comment Module Starts */
.wrapper {
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  padding: 1.5em;
}

/* comment input */
.comment-input {
  padding: 20px;
  margin-bottom: 10px;
}

.comment-field {
  margin-bottom: 15px;
  display: flex;
}

.comment-field .comment-field-name {
  display: flex;
  flex-basis: 7em;
  font-size: .78em;
}

.comment-field .comment-field-input {
  display: flex;
  flex: 1;
}

.comment-field-input input,
.comment-field-input textarea {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  font-size: .78em;
  resize: none;
  flex: 1;
  opacity: 0.6;
}

.comment-field-input textarea {
  height: 100px;
}

.comment-field-button {
  text-align: right;
}

.comment-field-button button {
  padding: 5px 10px;
  width: 80px;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  outline: none;
  cursor: pointer;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  transition: 0.3s;
  background-color: transparent;
}

.comment-field-button button:hover {
  transform: scale(1.05);
}

/* comment list */
.comment-list {
  padding: 20px;
}

/* comment components */
.comment {
  position: relative;
  display: flex;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
  padding-bottom: 0px;
  min-height: 50px;
}

.comment .comment-user {
  flex-shrink: 0;
}

.comment-username {
  color: #00a3cf;
  font-style: italic;
}

.comment-postTime {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-size: .67em;
}

.comment:hover .comment-delete {
  color: #00a3cf;
}

.comment-delete {
  position: absolute;
  right: 0;
  top: 0;
  color: transparent;
  font-size: 12px;
  cursor: pointer;
}

.comment p {
  margin: 0;
  /*text-indent: 2em;*/
}

code {
  border: 1px solid #ccc;
  background: #f9f9f9;
  padding: 0px 2px;
}

@media screen and (max-width: 650px) {
  .wrapper h2 {
    margin: 0;
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .comment-field-input textarea {
    height: 60px;
  }
}

@media screen and (max-width: 450px) {
  .wrapper {
    font-size: 12px;
  }
}
/* Comment Module Ends */

/* Booking Page Starts */
.box-office {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/cinema.jpg');
  background-size: 100vw 100vh;
  border: 1px solid black;
}

.room {
  position: relative;
  margin: auto;
  background-image: radial-gradient(white, #eee, #999);
  opacity: 1;
  text-align: center;
}

.seat {
  position: absolute;
  text-align: center;
}

.seat:hover {
  background-color: #ccc;
}

.seat img {
  width: 100%;
  height: 100%;
}

.seat span {
  position: absolute;
  font-size: 50%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Prevent seat IDs from being seleted */
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.order-panel {
  margin: 100px;
  border-radius: 5px;
  font-size: 15px;
  position: absolute;
  top: 0%;
  left: -40px;
}

.ticket-top, .ticket-bottom {
  height: 10vh;
  background-image: url('./assets/ticket_edge.png');
  background-size: 100% 100%;
}

.ticket-bottom {
  transform: scaleY(-1);
}

.ticket-body {
  padding: 20px;
  background-image: url('./assets/ticket_body.png');
  background-size: 100% 100%;
  border-top: 2px dashed black;
  border-bottom: 2px dashed black;
}

.order-content {
  border: 4px double black;
  border-radius: 5px;
  padding: 10px;
  padding-top: 5px;
}

.order-content span {
  font-size: 10px;
  color: #333333;
}

.order-button {
  padding: 5px;
  width: 100%;
  border-radius: 5px;
  color: white;
  background-color: #13c1f1;
  outline: none;
}

.order-button:hover {
  cursor: pointer;
  background-color: #00a3cf;
}

.order-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.order-table td, .order-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.order-table tr:last-child {background-color: #ddd;}

.order-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

.session-panel {
  position: absolute;
  top: 5%;
  right: -50px;
  padding: 10px;
  padding-top: 0;
  margin: 100px;
  background-color: #be0706;
  border-radius: 10px;
  font-size: 15px;
}

.session {
  padding: 10px;
  height: 150px;
  color: white;
}

.session input {
  float: left;
}

.session select {
  float: right;
}

.legend {
  padding: 10px;
  padding-top: 5px;
  background-color: white;
  border-radius: 10px;
}

.legend img {
  width: 30px;
  height: 37px;
  margin-right: 10px;
  vertical-align: middle;
}
/* Booking Page Ends */

/* About Page Starts */
.about {
  max-width: 1440px;
  min-height: 100vh;
  padding: 180px;
  background-image: url('./assets/about.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.about div {
  margin: auto;
  text-align: justify;
}

.about h2 {
  text-align: center;
}

.about p {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .about {
    padding: 180px 15vw;
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .about {
    background-size: cover;
  }
}

@media screen and (max-width: 700px) {
  .about {
    padding: 180px 8vw;
    font-size: 12px;
  }

  .about p {
    height: 250px;
    overflow: scroll;
  }
}
/* About Page Ends */

/* Contact Page Starts */
.contact {
  max-width: 1440px;
  min-height: 100vh;
  padding: 13vh 14vw;
  background-image: url('./assets/contact.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  width: 50%;
}

.map{
  height: 40vh;
  width: 50%;
}

@media screen and (max-width: 910px) {
  .contact {
    background-size: cover;
  }
}

@media screen and (max-width: 750px) {
  .contact {
    padding: 100px 50px;
  }
}

@media screen and (max-width: 650px) {
  .contact {
    padding: 8vh 14vw;
  }

  .contact-wrapper {
    flex-direction: column;
  }

  .contact-info {
    width: 100%;
    font-size: 14px;
  }

  .contact-info h2 {
    margin: 10px 0;
  }

  .map {
    width: 100%;
    height: 20vh;
  }
}

@media screen and (max-width: 450px) {
  .contact {
    padding: 8vh 5vw;
  }
}
/* Contact Page Ends */

/* User Pages Start */
.user {
  position: relative;
  max-width: 1440px;
  min-height: 100vh;
  background-image: url('./assets/camera.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-panel {
  position: relative;
  top: 15vh;
  left: 10vw;
  width: 500px;
  height: 450px;
  padding: 2em;
  padding-top: 10em;
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 20px;
}

.user-panel-signup {
  background-image: url('./assets/black_clapboard.png');
  color: white;
}

.user-panel-signup p {
  font-size: .9em;
  font-weight: bold;
  text-align: center;
  margin: 0;
  margin-top: -.5em;
}

.user-panel-signup hr {
  border: 1.5px solid white;
  margin-bottom: -.5em;
}

.user-panel-login {
  background-image: url('./assets/white_clapboard.png');
  color: black;
}

.user-panel-login p {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.user-panel-hr {
  border: 1.5px solid black;
}

.user-panel-div {
  margin-top: 1em;
  text-align: center;
}

.user-panel-row {
  text-align: right;
}

.user-panel-row label {
  font-size: .8em;
}

.user-panel-signup input {
  color: white;
  border-bottom: 2px solid white;
}

.user-panel-login input {
  color: black;
  border-bottom: 2px solid black;
}

.user-panel-input {
  display: inline-block;
  width: 72%;
  height: 1em;
  font-size: 1em;
  margin: .5em;
  border: none;
  background-color: transparent;
  outline: none;
}

.user-panel-button {
  width: 60%;
  height: 2em;
  margin: 1em auto;
  border-radius: .25em;
  font-size: 1em;
  cursor: pointer;
  color: black;
}

.user-panel-button:hover {
  background-color: #ccc;
}

.user-panel-button:focus {
  outline: none;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 1.5em;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.profile {
  position: relative;
  top: 15vh;
  left: 3vw;
  width: 700px;
  padding: 150px;
  padding-top: 50px;
  background-image: url('./assets/film-clip.png');
  background-size: 100%;
}

.change-password-toggle {
  float: right;
  color: blue;
  text-decoration: underline;
}

.change-password-toggle:hover {
  cursor: pointer;
}

@media screen and (max-width: 625px) {
  .user-panel {
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 500px) {
  .user-panel {
    width: 100%;
    font-size: 4vw;
  }
}
/* User Pages End */

/* Admin Page Starts */
/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

/* Style the buttons that are used to open the tab content */
.tablink {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border-radius: 5px;
  font-size: 20px;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tablink-active {
  /* background-color: #717171; */
  text-decoration: underline;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

/* Admin Table Starts */
.admin {
  min-height: 100vh;
}

.admin-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin: auto;
  background-color: white;
}

.admin-table td, .admin-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.admin-table tr:nth-child(even){background-color: #f2f2f2;}

.admin-table tr:hover {background-color: #ddd;}

.admin-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.admin-table span {
  color: #00a3cf;
  font-size: 12px;
  cursor: pointer;
}
/* Admin Table Ends */
/* Admin Page Ends */